* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline-style: none;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ccc;
}
.containerNavbar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgHeader {
    width: 160px;
    height: 50px;
    background-color: black;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.listamenu, .linavbar {
    margin: 0 5px;
}
.login {
    margin-left: 200px;
}
.imgBG {
    height: 90vh;
    background-image: url("../img/download.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.buttonBG {
    margin-bottom: 200px;
}

.quemSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 385px;
    justify-content: space-evenly;
}
.quemSomos-text {
    width: 60%;
}

.solucao {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    height: 485px;
    justify-content: space-evenly;
    align-items: center;
}
.solucao-div {
    width: 60%;
    display: flex;
    justify-content: center;
}
.solucao-img img {
    margin: 10px 20px;    
}
.solucao-text {
    width: 30%;
}

.orcamento {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orcamento-div {
    display: flex;
    flex-direction: column;
}
.orcamento-form {
    display: flex;
    flex-direction: column;
}
.orcamento-title {
    margin-bottom: 50px;
    margin-top: 60px;
}

.form {
    padding: 0 5px;
    margin-bottom: 20px;
    border: 3px solid;
    height: 25px;
    width: 400px;
}
.form-textarea {
    padding: 0 5px;
    border: 3px solid;
    height: 125px;
    width: 400px;
}
.form-button {
    margin-top: 40px;
    border: 3px solid;
    background-color: transparent;
    cursor: pointer;
    padding: 7px 24px;
    width: 100px;
}

.footer {
    height: 150px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-div {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.footer-conteudo {
    display: flex;
    flex-direction: column;

}
.footer-social img {
    display: flex;
    height: 30px;
    width: 30px;
}
.footer-title {
    margin-bottom: 20px;
}
.footer-end {
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}