* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline-style: none;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #ccc;
    width: 100%;
}
.current{
    color: blueviolet;
}
.containerNavbar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgHeader {
    width: 160px;
    height: 50px;
    background-color: black;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.listamenu, .linavbar {
    margin: 0 5px;
}
.login {
    margin-left: 200px;
}
.quemSomos{
    height: 93vh;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}
.quemSomosContainer{
    width: 60%;
    display: flex;
}
.quemSomosTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.quemSomosTexto img{
    width: 100%;
}





.footer {
    height: 150px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-div {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.footer-conteudo {
    display: flex;
    flex-direction: column;

}
.footer-social img {
    display: flex;
    height: 30px;
    width: 30px;
}
.footer-title {
    margin-bottom: 20px;
}
.footer-end {
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}